.logo {
  width: 60px;
  height: 60px;
  margin-left: 40px;
}

body {
  background-image: url(backgroung.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.div1 {
  background-image: url(img/img1.jpg);
  background-size: 50%;
  background-size: cover;
  border: 7px solid #4d1597;
  -webkit-animation-name: div1;
          animation-name: div1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.div2 {
  background-image: url(img/img6.jpeg);
  background-size: 50%;
  background-size: cover;
  border: 7px solid #4d1597;
  -webkit-animation-name: div2;
          animation-name: div2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  right: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.div3 {
  background-image: url(img/img8.jpg);
  background-size: 50%;
  background-size: cover;
  border: 7px solid #4d1597;
  -webkit-animation-name: div3;
          animation-name: div3;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  bottom: 0px;
  right: 0px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.div4 {
  background-image: url(img/img4.jpg);
  background-size: 50%;
  background-size: cover;
  border: 7px solid #4d1597;
  -webkit-animation-name: div4;
          animation-name: div4;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  bottom: 0px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main {
  width: 414px;
  height: 414px;
  position: relative;
  border: 7px solid #4d1597;
  background-image: url(img/img10.jpg);
}

div {
  width: 200px;
  height: 200px;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

h1 {
  position: absolute;
  text-align: center;
  width: 400px;
  margin: 0px;
  line-height: 400px;
  font-size: 3rem;
  color: blueviolet;
  text-shadow: 4px 4px 8px #f1ca48;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

a:hover {
  font-size: 60px;
  color: green;
}

@-webkit-keyframes div1 {
  to {
    -webkit-transform: translate(-200px) rotate(180deg);
            transform: translate(-200px) rotate(180deg);
  }
}

@keyframes div1 {
  to {
    -webkit-transform: translate(-200px) rotate(180deg);
            transform: translate(-200px) rotate(180deg);
  }
}

@-webkit-keyframes div2 {
  to {
    -webkit-transform: translate(200px) rotate(180deg);
            transform: translate(200px) rotate(180deg);
  }
}

@keyframes div2 {
  to {
    -webkit-transform: translate(200px) rotate(180deg);
            transform: translate(200px) rotate(180deg);
  }
}

@-webkit-keyframes div3 {
  to {
    -webkit-transform: translate(200px) rotate(180deg);
            transform: translate(200px) rotate(180deg);
  }
}

@keyframes div3 {
  to {
    -webkit-transform: translate(200px) rotate(180deg);
            transform: translate(200px) rotate(180deg);
  }
}

@-webkit-keyframes div4 {
  to {
    -webkit-transform: translate(-200px) rotate(180deg);
            transform: translate(-200px) rotate(180deg);
  }
}

@keyframes div4 {
  to {
    -webkit-transform: translate(-200px) rotate(180deg);
            transform: translate(-200px) rotate(180deg);
  }
}
/*# sourceMappingURL=style.css.map */